/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.txtTituloApp {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 22px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  color: #F10036; 
  line-height: 19px
}

.txtInput {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  color: #575859; 
  line-height: 19px
}

.txtSubtituloApp {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  color: #E80E64; 
  line-height: 19px
}

.txtLabel {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  color: #575859; 
  line-height: 19px
}

.txtTh {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  color: #575859; 
  line-height: 19px
}

.txtTd {
  font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 19px
}




