  <div ng-controller="LanzarobotCtrl">
    <div align="center">
      <form name="formrobot" ng-submit="lanzarobot()" novalidate>
        <table>
          <tbody>
            <tr><td><span class="txtInput">Usuario:</span></td></tr>
            <tr>
              <td>
                <input ng-model="usuario" type="text" maxlength="50" id="usuario" required/>
              </td>
            </tr>
            <tr><td><span class="txtInput">Contraseña:</span></td></tr>
            <tr>
              <td>
                <input ng-model="passwd" type="password" maxlength="12" id="passwd" required/>
              </td>
            </tr>
            <tr><td><span class="txtInput">Número del Código del Token:</span></td></tr>
            <tr>
              <td>
                <input name="token" type="number" ng-model="token" ng-minlength="6" ng-maxlength="6" required>
              </td>
            </tr>
            <tr><td><br></td></tr>
            <tr><td><div id="divButton"><button id="lanzarobot" ng-disabled="formrobot.$invalid">Lanzar Robot</button></div></td></tr>
          </tbody>
        </table>
      </form>
    </div>
    <p><br>
    </p>
    <p></p>
  </div>

