  <div ng-controller="PollingprocesoCtrl">
    <p align="center" class="txtSubtituloApp">Monitoreo del Proceso de Pago de Créditos</p>
    <div align="center">
      <p class="txtLabel">Total de Créditos: {{creditos}}</p>
      <p class="txtLabel">Créditos Procesados: {{procesados}}</p>
    </div>
    <p><br>
    </p>
    <p></p>

    <div id="tablaResutado" align="center">
      <table border="1">
        <tr>
          <th class="txtTh">Número Solicitud</th>
          <th class="txtTh">Interface</th>
          <th class="txtTh">Fecha de Procesamiento</th>
          <th class="txtTh">Etapa</th>
          <th class="txtTh">Estado</th>
          <th class="txtTh">Descripción</th>
        </tr>
        <tr ng-repeat="bit in bitacoras">
          <td class="txtTd">{{bit.numsolicitud}}</td>
          <td class="txtTd">{{bit.interface}}</td>
          <td class="txtTd">{{bit.fechaproc}}</td>
          <td class="txtTd">{{bit.etapa}}</td>
          <td class="txtTd">{{bit.estado}}</td>
          <td class="txtTd">{{bit.desc}}</td>
        </tr>
      </table>
    </div>

    <div id="leyendanoerrores" align="center">
      <p class="txtTituloApp">No hubo errores.</p>
    </div>

  </div>

